body {
  background: #111113;
  color: white;
}

.order-form, .field label {
  color: white;
}

.order-form {
  background: #1c1c2a; /* خلفية المودال */
  border: 2px solid #6a2fbd; /* بنفسجي */
}

.field input,
.field select,
.field textarea {
  background: #111113;
  border: 2px solid #6a2fbd; /* بنفسجي */
  color: white;
}

.field input::placeholder,
.field textarea::placeholder {
  color: #ddd;
}

.btn-primary {
  background: #6a2fbd;
  color: white;
}

.btn-primary:hover {
  background: #7f3fcf;
}

.success-message {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
